@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.woff2');
    font-style: normal;
    font-weight: 100 900;
}
* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #f7f7f7;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    background: #fff;
    text-align: center;
    width: 420px;
    padding-top: 19px;
    @media (min-width: 1010px) {
        width: 1010px;
        padding-top: 32px;
    }
}

.searchbox {
    box-sizing: border-box;
    margin: 0px 15px 14px 15px;
    width: 388px;
    @media (min-width: 1010px) {
        margin: 10px 36px 32px 33px;
        width: 945px;
    }
}
.searchbox-input {
    width: 100%;
}
.movie-list {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    max-width: 420px;
    grid-row-gap: 20px;
    @media (min-width: 1010px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 36px;
        padding: 0 30px;

        max-width: 1010px;
        place-items: center;
    }
}
.movie-poster {
    width: 60px;
    height: 91px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 13px;
    @media (min-width: 1010px) {
        margin: 0;
        width: 183px;
        height: 281px;
    }
}

.movie-card {
    display: flex;
    flex-direction: row;
    width: 387px;
    height: 245px;
    margin-bottom: 0;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    flex-wrap: wrap;

    @media (min-width: 1010px) {
        flex-direction: row;
        width: 454px;
        height: 281px;
        flex-wrap: nowrap;
    }
}

.movie-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    width: 300px;
    max-height: 91px;
    @media (min-width: 1010px) {
        box-sizing: border-box;
        padding: 12px 9px 0 20px;
        margin-bottom: 18px;
        max-height: 281px;
        justify-content: flex-start;
        align-items: space-between;
    }
}

.movie-broken {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91px;
    width: 60px;
    border: 1px solid black;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-left: 10px;
    margin-top: 7px;
    margin-right: 13px;
    font-size: 10px;
    @media (min-width: 1010px) {
        height: 100%;
        width: 183px;
        margin: 0;
    }
}

.movie-title {
    margin-top: 4px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.xs-overview {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-align: left;
}

.movie-overview {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    overflow: hidden;
}

.movie-date {
    color: #827e7e;
    margin-top: 7px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.movie-genre-wrapper {
    display: flex;
    flex-direction: row;
    overflow: ellipsis;

    flex-wrap: wrap;
}

.movie-genre {
    margin-top: 7px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.65);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2px 3px 2px 5px;
}

.movie-overview {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.loader {
    margin-top: 65px;
    height: 100vh;
    width: 420px;
    background: #fff;
    @media (min-width: 1010px) {
        width: 1010px;
    }
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.raiting-rate {
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
}
.under3 {
    border: 2px solid #e90000;
}
.under5 {
    border: 2px solid #e97e00;
}
.under7 {
    border: 2px solid #e9d100;
}
.under10 {
    border: 2px solid #66e900;
}
.raiting {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-top: 7px;
    @media (min-width: 1010px) {
        margin-top: 0;
    }
}
.ant-tabs-nav {
    margin-bottom: 0;
}

.ant-tabs-nav {
    align-self: center;
}

.rated-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate {
    @media (min-width: 1010px) {
        font-size: 16px;
    }
}

.rated-list {
    display: flex;
    margin-top: 20px;
    row-gap: 34px;
}

.moviecard-xl {
    display: none;
    @media (min-width: 1010px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
}

.moviecard-xs {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    flex-wrap: wrap;
    flex-grow: 1;
    @media (min-width: 1010px) {
        display: none;
    }
}

.stars {
    margin-top: auto;
}

.alert-start {
    border-radius: 0;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;

    @media (min-width: 1010px) {
        margin-bottom: 600px;
    }
}
